.DS_Store
.vscode
.settings
target
.classpath
.project
bin
delta_configs
*.crt
*.csr
*.jks
*.srl
*.key
*.req
*.pem
*.der
*.p12
*.pkcs12
*.tar
*.gz
*.rar
.gradle
*.rpm
*.class
*.cast
*.tgz
._aws_config
._aws_credentials
*.jar
*.log
._secrets.properties
secrets.properties
secrets.tar
*.hprof
*.pcap
._github_ssh_key_file
*.jfr
.ccloud
.connector_config
*.lck
